@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: "smooth";
    box-sizing: border-box;
  }

  body,
  html {
    font-family: "Inter", sans-serif;
  }

  body {
    overflow-y: scroll;
    background: #f5f6fa;
  }

  button,
  i,
  a,
  ul,
  li {
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  span,
  a {
    color: inherit;
  }
}
