@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "medium";
  src: local("medium"),
    url(../../public/assets/fonts/monterrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "semibold";
  src: local("semibold"),
    url(../../public/assets/fonts/monterrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "light";
  src: local("light"),
    url(../../public/assets/fonts/monterrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "catalina";
  src: local("catalina"),
    url(../../public/assets/fonts/catalina/CatalinaTrue.ttf);
}

@layer base {
  html {
    @apply scroll-smooth box-border;
  }

  body {
    @apply text-dark bg-white font-montMedium;
  }
}
